
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'helvetica', 'arial', 'sans';
  background: #FBF4FF; //background color
}

h1,h2,h3,h4 {
  font-family: 'helvetica', 'arial', 'sans';
  }


a {
  color: #000;
}

.header {
    text-align: center;
  color: #000;
  height: 555px;
  padding: 30px 30px 30px;
}

.header h1 {
  font-size: 50px;
  }

.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'helvetica', 'arial', 'sans';
  padding: 20px 20px 20px 30px;
  width: 150px; //you edited this 
  height: 350px;
     display: inline-block;

}

.assignment a {
    color: #000; 
    text-decoration: none;
}

.assignments{
  text-align: center;
}

.assignment a:hover {
  background: #FFC300;
  color: #FFC300;
  text-decoration: none;
}

.content {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
}

.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.bottomSpace {
  height: 45px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #FFC300; //hover color
  color: #FFF;
  text-decoration: none;
}
